@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float-up {
  0% { transform: translateY(100vh) scale(0.5); opacity: 0; }
  20% { opacity: 1; transform: translateY(70vh) scale(1.2); }
  80% { opacity: 1; transform: translateY(20vh) scale(1); }
  100% { transform: translateY(-10vh) scale(0.8); opacity: 0; }
}
.animate-float-up {
  animation: float-up 4s ease-out forwards;
}
